@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  background-color: rgb(227, 255, 227);
  color: rgb(120, 150, 120);
  font-family: roboto;
  box-sizing: border-box;
}

#root {
  padding: 3em;
  letter-spacing: 1px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em 0;

  select, button {
    background-color: rgb(143, 255, 143);
    transition: 0.2s;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    border: 0;
    color: black;
  }

  select {
    appearance: none;
  }

  button:hover, select:hover {
    cursor: pointer;
    background-color: rgb(100, 255, 100);
  }
}

h1 {
  font-weight: 700;
  margin-top: 0;
}
* {
  font-weight: 400;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .listItem {
    background-color: rgb(204, 255, 204);
    margin: 10px 0;
    padding: 1em;
    border-radius: 0.5em;
    transition: 0.1s;

    &:hover {
      background-color: rgb(190, 255, 190);
    }

    > * {
      padding: 0;
      margin: 0;
    }
    > * + * {
      padding-top: 5px;
    }
  }
}